<!--
<div>
	<div id="list-example" class="list-group">
  		<a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
  		<a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
  		<a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
  		<a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
	</div>
</div>-->
<!--
<div *ngFor="let exercise of exercisesList">
        <h5>{{exercise.name}}</h5>
                            <p>Type: {{exercise.type}}</p>
                            <p>Number of Commits: {{exercise.muscles}}</p>
                            <p>Equipment: {{exercise.equipment}}</p>
</div>
-->
<!--
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
-->
<br />
<div class="container-fluid">
<div class="row">
<div class="col-lg-2" style="background-color: #5E4485;">
</div>
<div class="col-lg-4">
<form>
	<!--<div class="form-row">-->
    <div class="form-group">
      <label for="inputState">Type</label>
      <select id="inputState" class="form-control" (change)="onChangeType($event.target.value)">
	<ng-container *ngFor="let type of types">
	  <option value="{{type}}">{{type}}</option>
	</ng-container>
      </select>
    </div>
    <!--</div>
	<div class="form-row">-->
    <div class="form-group">
      <label for="inputState">Muscles</label>
      <select id="inputState" class="form-control" (change)="onChangeMuscle($event.target.value)">
	<ng-container *ngFor="let muscle of muscles">
	  <option value="{{muscle}}">{{muscle}}</option>
	</ng-container>
      </select>
    </div>
  <!--</div>
	<div class="form-row">-->
    <div class="form-group">
      <label for="inputState">Equipment</label>
      <select id="inputState" class="form-control" (change)="onChangeEquipment($event.target.value)">
	<ng-container *ngFor="let equipment of equipments">
	  <option value="{{equipment}}">{{equipment}}</option>
	</ng-container>
      </select>
    </div>
    <!--</div>-->
</form>
</div>
<div class="col-lg-4">
	<h3>Name: {{selectedExercise.name}}</h3>
	<p>Type: {{selectedExercise.type}}</p>
	<p>Muscles: {{selectedExercise.muscles}}</p>
	<p>Equipment: {{selectedExercise.equipment}}</p>
	<p>Difficulty: {{selectedExercise.review}}</p>
	<p>Review: {{selectedExercise.level}}</p>
</div>
<div class="col-lg-2" style="background-color: #5E4485;">
</div>

</div>
</div>
<!--
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
-->
<h1>All scraping credits go to bodybuilding.com</h1>
	<div class="container-fluid ml-2">
        <div class="container-fluid ml-2">
            <div class="row">
		<ng-container *ngFor="let exercise of filteredList">
			<div *ngIf="exercise.image1" class="card mr-2" style="width: 18rem;" (click)="updateSelectedExercise(exercise.name)">
			<img src={{exercise.image1}} class="card-img-top" alt="Failed to Load Image">
                        <div class="card-body">
                            <h5 class="card-title">{{exercise.name}}</h5>
                            <p class="card-text">Type: {{exercise.type}}</p>
                            <p class="card-text">Muscles: {{exercise.muscles}}</p>
                            <p class="card-text">Equipment: {{exercise.equipment}}</p>
                        </div>
                    </div>
                </ng-container>
	    </div>
	</div>
	</div>
