<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
	<form>
  		<div class="form-group">
    			<label for="exampleFormControlSelect1">Example select</label>
    			<select class="form-control" id="exampleFormControlSelect1" (change)="onChange($event.target.value)">
  				<option value="Barbell">Barbell</option>
  				<option value="Bodyweight">Bodyweight</option>
				<option value="Olympic">Olympic</option>
  				<option value="Dumbell">Dumbell</option>
  				<option value="Machine">Machine</option>
				<option value="Cable">Cable</option>
    			</select>
			<!--
			<select (change)="onChange($event.target.value)">
    				<option *ngFor="let i of devices">{{i}}</option>
			</select>-->
  		</div>
  		<div class="form-group">
    			<label for="exampleFormControlSelect2">Example multiple select</label>
    			<select class="form-control" id="exampleFormControlSelect1" (change)="onChangeExercise($event.target.value)">
    				<ng-container *ngFor="let exercise of filteredInformation">
	    				<option value={{exercise.exercise_id}}>{{exercise.exercise_name}}</option>
    				</ng-container>
    			</select>
  		</div>
		<div class="form-group row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    			</div>
  		</div>

		<div class="form-group row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">Body Mass</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="150lb">
    			</div>
  		</div>

		<div class="form-group row">
    			<label for="staticEmail" class="col-sm-2 col-form-label">Age</label>
    			<div class="col-sm-10">
      				<input type="text" readonly class="form-control-plaintext" id="staticEmail" value="21">
    			</div>
  		</div>
	</form>
    </div>
    <div class="col-lg-6 col-md-6">
	    	<table class="table">
			<tr>
				
				<th scope="col">Exercise Name: </th>
				
				<th scope="col">20th Percentile</th>
				<th scope="col">40th Percentile</th>
				<th scope="col">60th Percentile</th>
				<th scope="col">80th Percentile</th>
				<th scope="col">100th Percentile</th>
			</tr>
			<tr>
				<td>{{selectedExercise.exercise_name}}</td>
				<td>{{selectedExercise.performance_a}}</td>
				<td>{{selectedExercise.performance_b}}</td>
				<td>{{selectedExercise.performance_c}}</td>
				<td>{{selectedExercise.performance_d}}</td>
				<td>{{selectedExercise.performance_e}}</td>
				
			</tr>
			<tr colspan="6">
				<td colspan="6">
				Your best performance is lifting/repping 200
				</td>
			</tr>
			<tr colspan="6">
				<td colspan="6">
				You have performed better than 50% of people
				</td>
			</tr>
	    	</table>
    </div>
  </div>
</div>

