<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4">
    	<select>
  		<option value="volvo">Volvo</option>
  		<option value="saab">Saab</option>
  		<option value="mercedes">Mercedes</option>
  		<option value="audi">Audi</option>
	</select>
	<select>
  		<option value="volvo">Volvo</option>
  		<option value="saab">Saab</option>
  		<option value="mercedes">Mercedes</option>
  		<option value="audi">Audi</option>
	</select>
    </div>
    <div class="col-lg-4 col-md-4">
    	should be right
    </div>
    <div class="col-lg-4 col-md-4">
    	should be right
    </div>
  </div>
</div>

