<div class="container-fluid mx-2 mt-3">
	<h1>Performance Table</h1>
	<div class="row">
		<div class="col-lg-3 col-md-3" style="background-color: #5E4485;">
		</div>
		<div class="col-lg-6 col-md-6">
			<form>
				<div class="form-group">
					<label for="exampleFormControlSelect1">Exercise Type</label>
					<select class="form-control" id="exampleFormControlSelect1" (change)="onChange($event.target.value)">
						<option value="Barbell">Barbell</option>
						<option value="Bodyweight">Bodyweight</option>
						<option value="Olympic">Olympic</option>
						<option value="Dumbell">Dumbell</option>
						<option value="Machine">Machine</option>
						<option value="Cable">Cable</option>
					</select>
					<!--
			<select (change)="onChange($event.target.value)">
    				<option *ngFor="let i of devices">{{i}}</option>
			</select>-->
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect2">Exercise</label>
					<select class="form-control" id="exampleFormControlSelect1" (change)="onChangeExercise($event.target.value)">
						<ng-container *ngFor="let exercise of filteredInformation">
							<option value={{exercise.exercise_id}}>{{exercise.exercise_name}}</option>
						</ng-container>
					</select>
				</div>
				<table class="table">
					<tr>

						<th scope="col">Exercise Name: </th>

						<th scope="col">20th Percentile</th>
						<th scope="col">40th Percentile</th>
						<th scope="col">60th Percentile</th>
						<th scope="col">80th Percentile</th>
						<th scope="col">100th Percentile</th>
					</tr>
					<tr>
						<td>{{selectedExercise.exercise_name}}</td>
						<td>{{selectedExercise.performance_a}}</td>
						<td>{{selectedExercise.performance_b}}</td>
						<td>{{selectedExercise.performance_c}}</td>
						<td>{{selectedExercise.performance_d}}</td>
						<td>{{selectedExercise.performance_e}}</td>

					</tr>
				</table>

			</form>
		</div>
		<div class="col-lg-3 col-md-3" style="background-color: #5E4485;">
		</div>
	</div>
</div>