.nav-pills .nav-link.active {
    background-color: #5E4485 ;
}

.container-fluid{
    min-height: 100%;
    position: relative;
    
}
.row{
    margin-top: 20px;
}
body{
    margin:0;
    padding:0;
    height: 0;
}
#body{
    padding: 10px;
    padding-bottom: 120px;
    
}
#table{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 120px;
    
}