<!DOCTYPE html>
<html lang="en">

<head>
	<title>Profile</title>
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</head>

<body>

	<div class="container-fluid">
		<div id = "body">
			<div class="row">
				<div class="col-lg-6">
					<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					  <li class="nav-item">
						<a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">Profile</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-friends-tab" data-toggle="pill" href="#pills-friends" role="tab" aria-controls="pills-friends" aria-selected="false">Friends</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" id="pills-groups-tab" data-toggle="pill" href="#pills-groups" role="tab" aria-controls="pills-groups" aria-selected="false">Groups</a>
					  </li>
					</ul>
					<div class="tab-content" id="pills-tabContent">
					  <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
						<div class = "row">
							<div class="col-4">
								<img src="assets\images\userImg.jpg" alt="profile image" class="img-thumbnail">
							</div>
							<div class ="col-8">
								{{userData.email}}
								Bat that the and tediously that yet treacherous far when deliberately wow therefore a awakened unscrupulously ungracefully floated before however and noble where wrote some stole that far hurt far nonsensically.
								The leaned far goodness a one the far won reindeer apart near that falcon less smoothly mistakenly because far informal cuddled strived.
							</div>
						</div>
					  
					  </div>
					  <div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab">Bat that the and tediously that yet treacherous far when deliberately wow therefore a awakened unscrupulously ungracefully floated before however and noble where wrote some stole that far hurt far nonsensically.
								The leaned far goodness a one the far won reindeer apart near that falcon less smoothly mistakenly because far informal cuddled strived.</div>
					  <div class="tab-pane fade" id="pills-groups" role="tabpanel" aria-labelledby="pills-groups-tab">Bat that the and tediously that yet treacherous far when deliberately wow therefore a awakened unscrupulously ungracefully floated before however and noble where wrote some stole that far hurt far nonsensically.
								The leaned far goodness a one the far won reindeer apart near that falcon less smoothly mistakenly because far informal cuddled strived.</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="row">
					  <div class="col-3">
						<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						  <a class="nav-link active" id="v-pills-weight-tab" data-toggle="pill" href="#v-pills-weight" role="tab" aria-controls="v-pills-weight" aria-selected="true">Weight</a>
						  <a class="nav-link" id="v-pills-activity-tab" data-toggle="pill" href="#v-pills-activity" role="tab" aria-controls="v-pills-activity" aria-selected="false">Activity</a>
						  <a class="nav-link" id="v-pills-ranking-tab" data-toggle="pill" href="#v-pills-ranking" role="tab" aria-controls="v-pills-ranking" aria-selected="false">Ranking</a>
						  </div>
					  </div>
					  <div class="col-9">
						<div class="tab-content" id="v-pills-tabContent">
						  <div class="tab-pane fade show active" id="v-pills-weight" role="tabpanel" aria-labelledby="v-pills-weight-tab">WEIGHT GRAPHIC
							<img src="assets\images\graphic.jpg" alt="weight image" class="img-thumbnail">
						  </div>
						  <div class="tab-pane fade" id="v-pills-activity" role="tabpanel" aria-labelledby="v-pills-activity-tab">ACTIVITY GRAPHIC
							<img src="assets\images\graphic.jpg" alt="weight image" class="img-thumbnail">
						  </div>
						  <div class="tab-pane fade" id="v-pills-ranking" role="tabpanel" aria-labelledby="v-pills-ranking-tab"> RANKING GRAPHIC
							<img src="assets\images\graphic.jpg" alt="weight image" class="img-thumbnail">
						  </div>
						 </div>
					  </div>
					</div>

				</div>
			</div>
		</div>
	
	


		<div id= "footer">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th scope="col">Name (Groups)</th>
						<th scope="col">Date Joined</th>
						<th scope="col">Progress</th>
						<th scope="col">Ranking</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Running (Burgendy)</th>
						<td>5/18/17</td>
						<td>50%</td>
						<td>3</td>
					</tr>
					<tr>
						<th scope="row">Cycling (Burgendy)</th>
						<td>08/17/17</td>
						<td>34%</td>
						<td>4</td>
					</tr>
					<tr>
						<th scope="row">Push Ups (Burgendy)</th>
						<td>02/17/19</td>
						<td>98%</td>
						<td>1</td>
					</tr>
				</tbody>
			</table>
		
		</div>
	</div>
</body>
</html>