<!DOCTYPE html>
<html lang="en">

<head>
  <title>Splash Page</title>

  <style>
    p.ex1 {
      border: 1px solid black;
      outline-style: solid;
      outline-color: red;
    }

    p.ex2 {
      border: 1px solid black;
      outline-style: double;
      outline-color: green;
    }

    p.ex3 {
      border: 1px solid black;
      outline-style: outset;
      outline-color: purple;
    }
  </style>
</head>

<body>

  <table>
    <td>
      <ng-container matColumnDef="Your Friends">
        <mat-list role="list">
          <h2>All Users</h2>
          <div style="height:600px; overflow: auto; width:500px;  border: 2px solid #5E4485;">

            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

            <ul *ngFor="let user of userList">
              <li class="list-group-item">
                <b>Name: </b>{{user.LastName}} {{user.FirstName}}
                <br><b>Email: </b>{{user.Email}}
                <br><button (click)="addFriendToGroup(user.Email)">Add</button>
                <button (click)="removeFriendFromGroup(user.Email)">Remove</button>
              </ul>
            </div>
        </mat-list>
      </ng-container>
    </td>

    <td>
        <div>
          <h3>Your Group<br /></h3>
          <div style="height:600px; overflow: auto; width:500px;  border: 2px solid #5E4485;">
              <ul *ngFor="let member of groupMembers">
                  <li class="list-group-item">
                    <b>Email: </b>{{member}}
                  </li>
              </ul>
          </div>
        </div>
      </td>
  </table>
</body>

</html>