

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5E4485;">
    <a class="navbar-brand" href="#">
      <div class="row align-items-center ml-1">
        <img src="../assets/images/dumbbell.png" width="50" height="50">
        <h3 class="ml-2">Swole Goals</h3>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="nav navbar-nav">
	  
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" routerLink="/app-splash">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/app-github-stats">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/app-map">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/app-exercise-list">Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/app-user-profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  <script>
  $(document).ready(function() {
    $(document).on('click', '.nav-item a', function (e) {
        $(this).parent().addClass('active').siblings().removeClass('active');
    });
});
  </script>
 
</body>