<body>
    <div class="container-fluid ml-2">
        <div class="row">
            <div *ngFor="let git of gitAccountList">
                <div class="card mr-2" style="width: 18rem;">
                    <img src={{git.image}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{git.name}}</h5>
                        <p class="card-text">Github Account:
                            <a href={{git.url}} target="_blank">{{git.user}}</a>
                        </p>
                        <p class="card-text">Number of Commits: {{git.commits}}</p>
                        <p class="card-text">{{git.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>