<body>
    <div class="container-fluid ml-2">
        <h3>About Swole Goals</h3>
        <p>
            Swole Goals is a webapp intended to motivate people to exercise by providing a platform for them to compete against their friends.
        </p>
        <h3>Meet Team Burgundy</h3>
        <div class="container-fluid ml-2">
            <div class="row">
                <div *ngFor="let git of gitAccountList">
                    <div class="card mr-2" style="width: 18rem;">
                        <img src={{git.image}} class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{git.name}}</h5>
                            <p class="card-text">Github Account:
                                <a href={{git.url}} target="_blank">{{git.user}}</a>
                            </p>
                            <p class="card-text">Number of Commits: {{git.commits}}</p>
                            <p class="card-text">{{git.bio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3>Stats</h3>
        <h5>Total Commits: {{totalCommits}}</h5>
        <h3>Data</h3>
        <h3>Tools</h3>
    </div>
</body>