		<div class="container">
			<div class="row">
			<h1>Welcome to the Game Map</h1>
			</div>
			<div class="row">
				<div class="col-6">
				<h1>Challenge:</h1>
				<h2 id="challenge">{{challenge.challengeName}}</h2>
				<table >
					<ng-container>
						<tr *ngFor="let exercise of reps>
							<td><button (click)="performExercise(exercise.name)" type="button" class="btn btn-primary tile">{{exercise.name}}</button></td>
						</tr>
					</ng-container>
				</table>
			</div>
			</div>
		</div>
