<!DOCTYPE html>
<html lang="en">



</html>
<head>
  <title>Challenge Creation</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>

</head>

<body>

<table><tr><td>
  <div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Exercises">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" width="100%">


      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
         <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>-->
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Exercise Name </th>
        <td mat-cell *matCellDef="let exercise"> {{exercise.name}} </td>
      </ng-container>

      <ng-container matColumnDef="slider">
        <th mat-header-cell *matHeaderCellDef> Reps </th>
        <td mat-cell *matCellDef="let i = index">
          <mat-slider [(ngModel)]="exerciseReps[i]"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1"
          min="1"
          max="20"></mat-slider>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>

  </div>
  </td>



  <td>
    <h3>Selected Exercises<br/></h3>
    <div style="height:600px; overflow: auto; width:500px;  border: 2px solid #5E4485;">
      <mat-selection-list #rows [(ngModel)]="exercisesToRemove">
        <mat-list-option *ngFor="let exercise of selectedExercises">
          {{exercise.name}}: {{exerciseReps[data.indexOf(exercise)]}} reps
        </mat-list-option>
      </mat-selection-list>
    </div>
  </td>
</tr>

  <tr>
    <td>
      <button class="btn btn-primary"(click)="addExercises()">
        Add Exercises
      </button>
    </td>

    <td>
      <button class="btn btn-primary" (click)="removeExercises()">
        Remove Exercises
      </button>
    </td>
  </tr>
</table>

</body>


