<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h4>Current Challenge: {{challenge}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12" align="center">
      <h1 style="text-align: center;">Do {{name}} for {{reps}} Repetitions</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4" align="right"> 
      <div class="card" style="width: 18rem;">
  	<img src="https://www.bodybuilding.com/exercises/exerciseImages/sequences/380/Male/m/380_2.jpg" class="card-img-top" alt="No Start Image">
  	<div class="card-body">
    	  <p class="card-text">Start Position</p>
  	</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4" align="center">
      <p>Description: {{description}}</p>
      
    </div>
    <div class="col-lg-4 col-md-4" align="left">
      <img id="image2" src="">
      <div class="card" style="width: 18rem;">
  	<img src="https://www.bodybuilding.com/exercises/exerciseImages/sequences/380/Male/m/380_1.jpg" class="card-img-top" alt="No End Image">
  	<div class="card-body">
    	  <p class="card-text">End Position</p>
  	</div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4 col-md-4" align="right">
      <div><button class="btn btn-primary">Back to Game Map</button></div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="progress" style="height: 38px;">
	      <div class="progress-bar" [ngStyle]="{ 'width': progress + '%' }" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">Progress: {{progress}}%</div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div><button class="btn btn-success">Complete</button></div>
    </div>
  </div>
</div>
